anthropic
yfinance
pandas
numpy
requests
smolagents
smolagents[litellm]
duckduckgo-search
pandas-ta
tradingview_ta
gradio[mcp]
matplotlib
scipy
tabulate
plotly
seaborn
QuantStats
IPython
langgraph 
langchain_openai
langchain_community
wikipedia-api
markdownify
langchain_ollama
langfuse